.page-container {
  height: 100vh; /* Set height to 100% of viewport height */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the height */
  width: 100vw;
}
